<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037785841257-bdmtk1e4t8je3gqm15d7r3c00jeaq9qa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037785841257-bdmtk1e4t8je3gqm15d7r3c00jeaq9qa</string>
	<key>API_KEY</key>
	<string>AIzaSyCVpRn8YWT0xUiD_WYpiCmZBfaaYj7nEv0</string>
	<key>GCM_SENDER_ID</key>
	<string>1037785841257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.artemiymalyshau</string>
	<key>PROJECT_ID</key>
	<string>vechain-cambridge</string>
	<key>STORAGE_BUCKET</key>
	<string>vechain-cambridge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037785841257:ios:17c301cdb7dd5760b56cf8</string>
</dict>
</plist>